html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", "Roboto", sans-serif;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: url(../img/datatilsynet5619.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}

header {
  display: flex;
  align-items: center;
  background-color: white;
  min-height: 100px;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  position: relative;
  top: 0;

  .container {
    display: grid;
    align-items: flex-end;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto;
  }

  .topnav {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    text-align: right;

    .icon {
      display: none;
    }
  }

  .img-brand {
    max-width: 200px;
  }
}

@media screen and (max-width: 992px) {
  header {
    min-height: 100px;
  }
}

@media screen and (max-width: 992px) {
  header .container {
    grid-template-columns: 1fr 1fr;
    align-content: center;
  }
}

@media screen and (max-width: 992px) {
  .topnav {
    text-align: left;
  }

  .topnav a {
    display: none;
  }

  .topnav a::after {
    content: "";
  }

  .topnav a.icon {
    display: block;
    float: right;
  }
}

a {
  color: #c39c5b;
}

.nav-link {
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.01rem;
  color: #13293b;
}

.nav-link:after {
  content: " \2304";
  position: relative;
  top: -4px; /* adjust as needed */
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
}

.hover-underline-animation::before {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 3px;
  bottom: -25px;
  left: 0;
  background-color: #13293b;
  transform-origin: bottom right;
  transition: transform 0.3s ease-out;
}

.hover-underline-animation:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

footer {
  margin-top: auto;
  padding-block: 20px;
  background-color: #13293b;
  display: flex;
  align-items: center;

  div {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    .language-switcher {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
    }
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #13293b;
}

h3.question-title::before {
  font-family: "Font Awesome 5 Free";
  content: "\f059  ";
}

p {
  color: #13293b;
}

footer p {
  color: white;
}

footer a {
  color: white;
  text-decoration: none;
}

#report-btn::before {
  font-family: "Font Awesome 5 Free";
  content: "\f15c  ";
}

.container {
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;

  @media screen and (max-width: 992px) {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}

@media (min-width: 640px) {
  /* Assuming 'xs' is 640px */
  .container {
    max-width: 100%;
  }
}

@media (min-width: 1024px) {
  /* Assuming 'lg' is 1024px */
  .container {
    max-width: 1440px;
  }
}

main {
  padding: 40px 0px;
}

section.form-section {
  display: flex;
  align-items: center;
}

section.form-section .block {
  background-color: rgba(255, 255, 255, 0.92);
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border-radius: 10px;
  position: relative;
}

section.form-section .block h1 {
  text-align: center;
}

.all-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0px;
}

@media screen and (max-width: 576px) {
  .all-buttons {
    padding-top: 50px;
  }
}

#step-btns {
  align-items: center;
  justify-content: center;
  display: none;
  gap: 20px;
}

img.img-fluid {
  width: 100%;
}

.slide img {
  width: 100%;
}

@media screen and (max-width: 576px) {
  .slide img {
    width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

#btn-next::after {
  content: " \003E";
  font-size: 12px;
}

#btn-back::before {
  content: "\003C  ";
  font-size: 12px;
}

.step-box {
  align-items: center;
  justify-content: center;
  display: flex;
}

.step-box__dot {
  height: 16px;
  width: 16px;
  background-color: #c39c5b;
  border-radius: 50%;
  display: inline-block;
}

@media screen and (max-width: 992px) {
  .step-dot-box {
    padding-bottom: 40px;
  }
}

hr.step {
  display: block;
  height: 3px;
  border: 0;
  background-color: #c39c5b;
  margin: 0;
  padding: 0;
  width: 3em;
}

@media screen and (max-width: 992px) {
  hr.step {
    width: 2em;
  }
}

.dot-active {
  background-color: #13293b;
}

.form-section .wrapper {
  padding: 40px;
}

@media screen and (max-width: 992px) {
  .form-section .wrapper {
    padding: 20px;
  }
}

@media screen and (max-width: 768px) {
  .form-section .wrapper {
    padding: 0px;
  }
}

.form-section .row {
  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto;
  gap: 20px;
}

.row.row-cols-2 {
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  gap: 20px;
}

@media screen and (max-width: 576px) {
  .row.row-cols-2 {
    grid-template-columns: 1fr;
  }
}

.full-col {
  grid-column: 1/3;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: auto;
}

.full-col h2 {
  grid-column: 1/3;
}

@media screen and (max-width: 576px) {
  .full-col,
  .full-col h2 {
    grid-column: auto;
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 576px) {
  .form-section .row {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 20px;
  }
}

.form-section .form-row {
  display: none;
}

.form-section .form-row-active {
  display: grid;
}

#timer {
  position: absolute;
  right: 30px;
  bottom: 20px;
  width: 50px;
  color: #13293b;
}

#timer::before {
  font-family: "Font Awesome 5 Free";
  content: "\f2f2 \00a0";
  color: #13293b;
}

/*  
#info-img {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 30px;
}*/

/* Info popup */
.info-popup {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 30px;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  .info-popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #13293b;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 8px;
    position: absolute;
    z-index: 1;
    top: 0%;
    right: 160%;
    margin-left: -88px;
  }

  .info-popuptext::after {
    content: "";
    position: absolute;
    top: 10%;
    left: 100%;
    margin-left: 0px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent #13293b;
  }

  .info-show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Cookie popup - Modal */
/* The Modal (background) */
#cookie-popup {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.6);

  /* Modal Content/Box */
  .modal-content {
    background-color: #f5f5f4;
    margin: 15% auto;
    width: 90%;
    max-width: 520px;
    border-radius: 10px;
  }

  .modal-header {
    padding: 20px 40px;
    color: white;
  }

  .modal-body {
    padding: 20px 40px;
  }

  .modal-footer {
    display: flex;
    justify-content: space-around;
    padding: 36px;
    background-color: white;
    color: white;
    border-radius: 0 0 10px 10px;
  }

  img.img-brand-modal {
    max-width: 80%;
  }
}

/* The Close Button */
.close {
  position: absolute;
  top: 0;
  right: 0;
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Report Modal */
/* The Modal (background) */
#report-modal {
  width: 90%;
  height: 90%;
  padding: 40px;
  border-radius: 10px;
  border: none;

  .close#close-report-modal {
    position: sticky;
    border: none;
    background-color: transparent;
    font-size: 24px;
    color: #13293b;
    cursor: pointer;

    &:hover {
      color: #c39c5b;
    }
  }

  .modal-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
      "header header header"
      "img1 body1 body1"
      "img2 body2 body2"
      "img3 body3 body3"
      "img4 body4 body4"
      "footer footer footer";
    gap: 40px;
    background-color: #fefefe;
    margin-inline: auto;
    overflow-y: auto;
  }

  .modal-header {
    text-align: center;
    grid-area: header;
  }

  .img1 {
    grid-area: img1;
  }

  .body1 {
    grid-area: body1;
  }

  .img2 {
    grid-area: img2;
  }

  .body2 {
    grid-area: body2;
  }

  .img3 {
    grid-area: img3;
  }

  .body3 {
    grid-area: body3;
  }
  .img4 {
    grid-area: img4;
  }

  .body4 {
    grid-area: body4;
  }

  @media screen and (max-width: 992px) {
    .modal-content {
      grid-template-columns: 1fr;
      grid-template-areas:
        "header"
        "img1"
        "body1"
        "img2"
        "body2"
        "img3"
        "body3"
        "img4"
        "body4"
        "footer";
    }
  }

  .modal-footer {
    grid-area: footer;
  }

  @media screen and (max-width: 768px) {
    .modal-content {
      width: 80%;
    }
  }
}

/* Modal Content/Box */

.modal-img img {
  width: 100%;
}

input {
  margin: 10px 0px;
}

/* Buttons */

.btn {
  font-family: "Poppins", "Roboto", sans-serif;
  cursor: pointer;
  font-size: 14px;
  padding: 8px 14px;
  border: none;
  transition: background-color 0.3s ease;
}

.btn:disabled {
  background-color: #f5f5f4;
  color: black;
  pointer-events: none;
  cursor: default;
}

.btn-primary {
  background-color: #13293b;
  color: white;
}

.btn-primary:hover {
  background-color: black;
}

.btn-secondary {
  background-color: #f5f5f4;
  color: black;
}

.btn-secondary:hover {
  background-color: #d4d4d4;
}

.btn-inactive {
  background-color: #f5f5f4;
  color: black;
  pointer-events: none;
  cursor: default;
}

#btn-tryagain {
  display: none;
}

#thumbsUpImg,
#thumbsDownImg {
  display: none;
}

#totalAnswerCount {
  font-size: 18px;
  padding-left: 10px;
}

@media screen and (max-width: 576px) {
  #totalAnswerCount {
    padding-left: 0px;
    text-align: center;
  }
}

/* Add this to your style.css */

#results-summary-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: flex-start;
  gap: 20px; /* Add gap between columns */
  width: 100%; /* Ensure it takes full width */

  .col {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
}

/* Style for correct/incorrect answers */
.user-answer.correct {
  color: #28a745; /* Green for correct */
  font-weight: bold;
}

.user-answer.incorrect {
  color: #dc3545; /* Red for incorrect */
  font-weight: bold;
  text-decoration: line-through;
}

.correctanswer {
  color: #6c757d; /* Gray for the correct answer text */
  font-size: 0.9em;
  display: inline-block; /* Or block if needed */
  margin-top: 5px;
}

@media screen and (max-width: 768px) {
  /* Adjust breakpoint as needed */
  #results-summary-container {
    grid-template-columns: 1fr; /* Stack columns on smaller screens */
  }
}

.slide-animate {
  animation: slideFadeIn 0.5s ease;
}

@keyframes slideFadeIn {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
