html {
  margin: 0;
  padding: 0;
}

body {
  background-color: #13293B;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', 'Roboto', sans-serif;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: url(../img/datatilsynet5619.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}

header {
  display: flex;
  align-items: center;
  background-color: white;
  min-height: 100px;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  position: relative;
  top: 0;
}

@media screen and (max-width: 992px) {
  header {
    min-height: 100px;
  }
}

header .container {
  display: grid;
  align-items: flex-end;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto;
}

@media screen and (max-width: 992px) {
  header .container {
    grid-template-columns: 1fr 1fr;
    align-content: center;
  }
}

.topnav {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  text-align: right;

}

.topnav .icon {
  display: none;
}

.topnav a::after {
  font-family: "Font Awesome 5 Free";
  content: " \f078";
  font-size: 12px;
}

@media screen and (max-width: 992px) {
  .topnav {
    text-align: left;
  }

  .topnav a {
    display: none;
  }

  .topnav a::after {
    content: "";
  }

  .topnav a.icon {
    display: block;
    float: right;
  }
}

a {
  color: #C39C5B;
}

.topnav a {
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: .01rem;
  color: #13293B;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
}

.hover-underline-animation::before {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 3px;
  bottom: -25px;
  left: 0;
  background-color: #13293B;
  transform-origin: bottom right;
  transition: transform 0.3s ease-out;
}

.hover-underline-animation:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

header img.img-brand {
  max-width: 200px;
}

#cookie-popup img.img-brand-modal {
  max-width: 80%;
}

footer {
  margin-top: auto;
  min-height: 80px;
  background-color: #13293B;
  position: relative;
  bottom: 0;
  display: flex;
  align-items: center;
}

h1, h2, h3, h4, h5, h6 {
  color: #13293B;
}

h3.question-title::before {
  font-family: "Font Awesome 5 Free";
  content: "\f059  ";
}

p {
  color: #13293B;
}

footer p {
  color: white;
}

footer .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


footer .reports {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  text-align: right;
}

footer a {
  color: white;
  text-decoration: none;
}

#report-btn {
  cursor: pointer;
}

#report-btn::before {
  font-family: "Font Awesome 5 Free";
  content: "\f15c  ";
}

.container {
  width: 1080px;
  margin-left: auto;
  margin-right: auto;
  padding: 0px 10px;
}

main {
  padding: 40px 0px;
}

section.form-section {
  display: flex;
  align-items: center;
}

section.form-section .container {
  background-color: rgba(255, 255, 255, 0.920);
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border-radius: 10px;
  position: relative;
}

section.form-section .container h1 {
  text-align: center;
}

.all-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0px;
}

@media screen and (max-width: 576px) {
  .all-buttons {
    padding-top: 50px;
  }
}


#step-btn {
  align-items: center;
  justify-content: center;
  display: none;
  gap: 20px;
}

img.img-fluid {
  width: 100%;
}

.slide img {
  width: 100%;
}

@media screen and (max-width: 576px) {
  .slide img {
    width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

#btn-next::after {
  font-family: "Font Awesome 5 Free";
  content: " \f054";
  font-size: 12px;
}

#btn-back::before {
  font-family: "Font Awesome 5 Free";
  content: "\f053  ";
  font-size: 12px;
}

.step-dot-box {
  align-items: center;
  justify-content: center;
  display: flex;
}

@media screen and (max-width: 992px) {
  .step-dot-box {
    padding-bottom: 40px;
  }
}

hr.step {
  display: block;
  height: 3px;
  border: 0;
  background-color: #C39C5B;
  margin: 0;
  padding: 0;
  width: 3em;
}

.step-dot {
  height: 16px;
  width: 16px;
  background-color: #C39C5B;
  border-radius: 50%;
  display: inline-block;
}


@media screen and (max-width: 992px) {
  hr.step {
    width: 2em;
  }
}

.dot-active {
  background-color: #13293B;
}

.form-section .wrapper {
  padding: 40px;
}

@media screen and (max-width: 992px) {
  .form-section .wrapper {
    padding: 20px;
  }
}

@media screen and (max-width: 768px) {
  .form-section .wrapper {
    padding: 0px;
  }
}

.form-section .row {
  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto;
  gap: 20px;
}

.row.row-cols-2 {
  grid-template-columns: repeat(2 , 1fr);
  grid-template-rows: auto;
  gap: 20px;
}

@media screen and (max-width: 576px) {
  .row.row-cols-2 {
    grid-template-columns: 1fr;

  }
}

.full-col {
  grid-column: 1/3;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: auto;
}

.full-col h2{
  grid-column: 1/3;
}

@media screen and (max-width: 576px) {
  .full-col, .full-col h2 {
    grid-column: auto;
    grid-template-columns: 1fr;
  }
  
}


@media screen and (max-width: 576px) {
  .form-section .row {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 20px;
  }
}

.form-section .form-row {
  display: none;
}

.form-section .form-row-active {
  display: grid;
}

#timer {
  position: absolute;
  right: 30px;
  bottom: 20px;
  width: 50px;
  color: #13293B;
}

#timer::before {
  font-family: "Font Awesome 5 Free";
  content: "\f2f2 \00a0";
  color: #13293B;
}

/*  
#info-img {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 30px;
}*/

/* Info popup */
.info-popup {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 30px;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.info-popup .info-popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #13293B;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 8px;
  position: absolute;
  z-index: 1;
  top: 0%;
  right: 160%;
  margin-left: -88px;
}

.info-popup .info-popuptext::after {
  content: "";
  position: absolute;
  top: 10%;
  left: 100%;
  margin-left: 0px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent transparent #13293B;
}

.info-popup .info-show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}


/* Cookie popup - Modal */
/* The Modal (background) */
#cookie-popup {
  display: block;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: hidden;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.6);
  /* Black w/ opacity */
}

/* Modal Content/Box */
#cookie-popup .modal-content {
  background-color: #f5f5f4;
  margin: 15% auto;
  /* 15% from the top and centered */
  width: 90%;
  max-width: 520px;
  border-radius: 10px;
}

#cookie-popup .modal-header {
  padding: 20px 40px;
  color: white;
}

#cookie-popup .modal-body {
  padding: 20px 40px;
}

#cookie-popup .modal-footer {
  display: flex;
  justify-content: space-around;
  padding: 36px;
  background-color: white;
  color: white;
  border-radius: 0 0 10px 10px;
}

/* The Close Button */
.close {
  position: absolute;
  top: 0;
  right: 0;
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover, .close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Report Modal */
/* The Modal (background) */
#report-popup {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

/* Modal Content/Box */
#report-popup .modal-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    "header header header"
    "img1 body1 body1"
    "img2 body2 body2"
    "img3 body3 body3"
    "img4 body4 body4"
    "footer footer footer";
  gap: 40px;
  background-color: #fefefe;
  margin: 5% auto;
  padding: 40px;
  width: 80%;
  border-radius: 10px;
}

@media screen and (max-width: 992px) {
  #report-popup .modal-content {
    grid-template-columns: 1fr;
    grid-template-areas:
      "header"
      "img1"
      "body1"
      "img2"
      "body2"
      "img3"
      "body3"
      "img4"
      "body4"
      "footer";
  }
}

@media screen and (max-width: 768px) {
  #report-popup .modal-content {
    width: 80%;
  }
}

#report-popup .modal-header {
  position: relative;
  text-align: center;
  grid-area: header;
}

#report-popup .img1 {
  grid-area: img1;
}

#report-popup .body1 {
  grid-area: body1;
}

#report-popup .img2 {
  grid-area: img2;
}

#report-popup .body2 {
  grid-area: body2;
}

#report-popup .img3 {
  grid-area: img3;
}

#report-popup .body3 {
  grid-area: body3;
}
#report-popup .img4 {
  grid-area: img4;
}

#report-popup .body4 {
  grid-area: body4;
}

.modal-img img {
  width: 100%;
}

#report-popup .modal-footer {
  grid-area: footer;
}

input {
  margin: 10px 0px;
}

/* Buttons */

.btn {
  font-family: 'Poppins', 'Roboto', sans-serif;
  cursor: pointer;
  font-size: 14px;
  padding: 8px 14px;
  border: none;
  transition: background-color 0.3s ease;
}

.btn-primary {
  background-color: #13293B;
  color: white;
}

.btn-primary:hover {
  background-color: black;
}

.btn-secondary {
  background-color: #f5f5f4;
  color: black;
}

.btn-secondary:hover {
  background-color: #d4d4d4;
}

.btn-inactive {
  background-color: #f5f5f4;
  color: black;
  pointer-events: none;
  cursor: default;
}

.btn-inactive:hover {
  background-color: #f5f5f4;
  color: black;
}

#btn-tryagain {
  display: none;
}

#thumbsUpImg, #thumbsDownImg {
  display: none;
}

#totalAnswerCount {
  font-size: 18px;
  padding-left: 10px;
}


@media screen and (max-width: 576px) {
  #totalAnswerCount {
    padding-left: 0px;
    text-align: center;
  }
}
